
<main id="content">
    <section id="home">
        <div class="shape"></div>
        <div id="cta">
            <h1 class="title">
                A maior loja de jogos do
                <span>Brasil</span>
            </h1>

            <p id="description">
                Não perca nossos preços imperdíveis!
            </p>

            <div id="cta_buttons">
                <a routerLink="/produtos" class="btn-default btn-color">
                    Ver produtos
                </a>
            </div>

            <div class="plataform-buttons">
                <a href="">
                    <i class="fa-brands fa-playstation"></i>
                </a>

                <a href="">
                    <i class="fa-brands fa-xbox"></i>
                </a>

                <a href="">
                    <i class="fa-brands fa-steam"></i>
                </a>
            </div>
        </div>
        
        <div id="banner">
            <img src="assets/images/teste4.png" alt="">
        </div>
    </section>

    <section id="menu">
        <h2 class="section-title">Comece por aqui!</h2>
        <h3 class="section-subtitle">Jogos em destaque</h3>

        <div id="games1">
            <div class="game">
                
                <img src="assets/images/loja/game1.jpg" class="game-image" alt="">

                <h3 class="game-title">
                    Clair Obscur: Expedition 33
                </h3>

                <span class="game-plataform">
                    Steam
                </span>

                <div class="game-price">
                    <h4>R$250,00</h4>
                    <button class="btn-default cart-button">
                        <i class="fa-solid fa-cart-plus"></i>
                    </button>
                </div>
            </div>

            <div class="game">
                <img src="assets/images/loja/game2.jpg" class="game-image" alt="">

                <h3 class="game-title">
                    The Last of Us Part 2 Remastered
                </h3>

                <span class="game-plataform">
                    Steam
                </span>

                <div class="game-price">
                    <h4>R$250,00</h4>
                    <button class="btn-default cart-button">
                        <i class="fa-solid fa-cart-plus"></i>
                    </button>
                </div>
            </div>

            <div class="game">
                <img src="assets/images/loja/game3.jpg" class="game-image" alt="">

                <h3 class="game-title">
                    Lost Records: Bloom & Rage
                </h3>

                <span class="game-plataform">
                    PS5
                </span>

                <div class="game-price">
                    <h4>R$215,00</h4>
                    <button class="btn-default cart-button">
                        <i class="fa-solid fa-cart-plus"></i>
                    </button>
                </div>
            </div>

            <div class="game">
                <img src="assets/images/loja/game4.jpg" class="game-image" alt="">

                <h3 class="game-title">
                    God of War: Ragnarok
                </h3>

                <span class="game-plataform">
                    PS5
                </span>

                <div class="game-price">
                    <h4>R$349,00</h4>
                    <button class="btn-default cart-button">
                        <i class="fa-solid fa-cart-plus"></i>
                    </button>
                </div>
            </div>
        </div>

        <div id="games2">
            <div class="game">
                
                <img src="assets/images/loja/game5.png" class="game-image" alt="">

                <h3 class="game-title">
                    Uncharted: Coleção Legado dos Ladrões
                </h3>

                <span class="game-plataform">
                    Steam
                </span>

                <div class="game-price">
                    <h4>R$250,00</h4>
                    <button class="btn-default cart-button">
                        <i class="fa-solid fa-cart-plus"></i>
                    </button>
                </div>
            </div>

            <div class="game">
                <img src="assets/images/loja/game6.png" class="game-image" alt="">

                <h3 class="game-title">
                    Lego Marvel Super Heroes
                </h3>

                <span class="game-plataform">
                    Steam
                </span>

                <div class="game-price">
                    <h4>R$30,00</h4>
                    <button class="btn-default cart-button">
                        <i class="fa-solid fa-cart-plus"></i>
                    </button>
                </div>
            </div>

            <div class="game">
                <img src="assets/images/loja/game7.jpg" class="game-image" alt="">

                <h3 class="game-title">
                    Alan Wake 2
                </h3>

                <span class="game-plataform">
                    PS5
                </span>

                <div class="game-price">
                    <h4>R$200,00</h4>
                    <button class="btn-default cart-button">
                        <i class="fa-solid fa-cart-plus"></i>
                    </button>
                </div>
            </div>

            <div class="game">
                <img src="assets/images/loja/game8.jpg" class="game-image" alt="">

                <h3 class="game-title">
                    Batman: Arkham Knight
                </h3>

                <span class="game-plataform">
                    Xbox
                </span>

                <div class="game-price">
                    <h4>R$79,00</h4>
                    <button class="btn-default cart-button">
                        <i class="fa-solid fa-cart-plus"></i>
                    </button>
                </div>
            </div>
        </div>
    </section>
</main>

