<main class="main" *ngIf="game">
    <h1 class="game-title">{{game.title}}</h1>
    <div class="product-container">
        <div class="images-section">
            <div class="img-container">
                <img [src]="game.images.cardImg" alt="Elden Ring">
            </div>
        </div>

        <div class="buy-section">
            <div class="buy-info game-info">
                <div class="game-price">R${{game.price}},00</div>
                <div class="platform-container">
                    <span class="platform-title">plataforma</span>
                    <div>{{game.platform}}</div>
                </div>
                <div class="buttons">
                    <button class="btn-default btn-buy">Comprar agora</button>
                    <button class="btn-default btn-cart">Adicionar ao carrinho</button>
                </div>
            </div>
            <div class="additional-info game-info">
                <div class="release-info additional-info-content">
                    <span class="additional-info-title">Data de lançamento</span>
                    <span>blabla</span>
                </div>
                <div class="developer-info additional-info-content">
                    <span class="additional-info-title">Desenvolvedora</span>
                    <span>blabla</span>
                </div>
                <div class="publisher-info additional-info-content">
                    <span class="additional-info-title">distribuidora</span>
                    <span>blabla</span>
                </div>
            </div>
        </div>

        <div class="info-section">
            <div class="description-section">
                <h2 class="description-section-title section-title">About</h2>
                <p>{{game.description}}</p>
            </div>
            <div class="requirements-section" *ngIf="game.platform == 'Steam'">
                <h2 class="section-title" id="requisitos" >Requisitos</h2>
                <div class="requirements minimun">
                    <strong>MÍNIMOS:</strong>
                    <p style="white-space: pre-line;">{{ game.requirements.minimun }}</p>
                </div>
                <div class="requirements recommended">
                    <strong section-title>RECOMENDADOS:</strong> <br>
                    <p style="white-space: pre-line;">{{ game.requirements.recommended }}</p>
                </div>
            </div>
        </div>

        
    </div>
</main>