.main {
  padding: 40px;
}


.game-title {
  margin-bottom: 20px;
}

.product-container {
  display: grid;
  grid-template-columns: 1fr 450px;
  grid-template-areas:
    "image buy"
    "info  buy";
  gap: 40px;
}

.images-section {
  grid-area: image;
}

.images-section {
  margin-bottom: 50px;
}

.description-section {
  margin-bottom: 50px;
}

.minimun {
  margin-bottom: 20px;
}

.section-title {
  font-size: 28px;
  margin-bottom: 10px;
}
.buy-section {
  grid-area: buy;
}

.game-info{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
  margin-bottom: 40px;
}

.additional-info {
  gap: 20px;
}

.additional-info-title {
  font-weight: bold;
  font-size: 18px;
  display: block;
}

.info-section {
  grid-area: info;
}

.game-price {
  color: #0F7EFD;
  font-size: 25px;
  font-weight: bold;
}

.platform-container {
  position: relative;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
}

.platform-title {
  position: absolute;
  left: 5;
  top: -10px;
  font-size: 12px;
  padding: 0px 2px;
  background-color: white;
}

.buy-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img-container {
  min-width: 300px;
}

.img-container img {
  width: 100%;
  border-radius: 10px;
}

.product-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  gap: 10px;
}

.btn-default {
  width: 100%;
  font-size: 12px;
  background-color: #0F7EFD;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px;
}

.btn-cart {
  border: 2px solid #0F7EFD;
  background-color: transparent;
  color: #0F7EFD;
}

/* Responsividade para telas menores como 1170x2532 */
@media (max-width: 1200px) {
  .product-container {
    grid-template-columns: 1fr 300px;
  }

  .buttons {
    flex-direction: column;
  }

  .btn-default {
    margin-bottom: 0px;
  }
  /* #product-details {
    padding: 20px;
  }

  .product-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .product-image img {
    max-width: 100%;
  }

  .product-info {
    width: 100%;
    padding: 0 10px;
  }

  .product-price {
    font-size: 20px;
  }

  .product-description {
    font-size: 15px;
  } */
}

@media (max-width: 780px) {
  .product-container {
    display: flex;
    flex-direction: column;
  }
  .images-section {
    order: 1;
    margin-bottom: 0px;
  }
  .buy-section {
    order: 2;
  }
  .info-section {
    order: 3;
    margin-top: 0px;
  }

  .additional-info {
    margin-bottom: 0px;
  }
}
