<header>
    
    <nav id="navbar">
    
    <div id="nav_logo_desktop" class="logo-desktop">
        <a routerLink="/">
            <i class="fa-solid fa-gamepad" id="nav_logo"> Pedrinho_GAMES</i>
        </a>
    </div>
    

    <div class="mobile-header-wrapper">
        <div id="nav_logo_active">
            <a routerLink="/">
                <i class="fa-solid fa-gamepad" id="nav_logo"> Pedrinho_GAMES</i>
            </a>
        </div>

        <div class="mobile-top-actions">
            <a routerLink="/login" class="btn-default btn-color login-mobile">Iniciar sessão</a>
            <button class="menu-toggle" (click)="toggleMenu()">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
    </div>   

        <ul class="nav-itens-desktop">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a routerLink="/">Início</a>
            </li>
        
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="/produtos">Produtos</a>
            </li>
        
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="/contato">Contato</a>
            </li>
        </ul>
        
        <div id="mobile-menu" [class.open]="menuOpen">
            <ul>
                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a routerLink="/" (click)="menuOpen = false">Início</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/produtos" (click)="menuOpen = false">Produtos</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/contato" (click)="menuOpen = false">Contato</a>
                </li>
            </ul>
        </div>

        <div class="nav-actions">

            <button class="btn-default btn-color" id="start-session">
                <a routerLink="/login">Iniciar sessão</a>
            </button>

            <i class="fa-solid fa-circle-user">
                <div class="user-info">
                    <span id="welcome-message">Bem vindo(a), <span id="username">User</span></span>
                    <span id="sair" onclick="logout()">Sair</span>
                </div>
            </i>
            

            <i class="fa-solid fa-heart"></i>

            <i class="fa-solid fa-cart-shopping">
                <div class="cart-qtd">
                    <span>1</span>
                </div>
            </i>   

        </div>

    </nav>
</header>
