<header>
    <nav id="navbar">
        <li id="nav_logo_active">
            <a href="home.html">
                <i class="fa-solid fa-gamepad" id="nav_logo"> Pedrinho_GAMES</i>
            </a>
        </li>
        
        <ul id="nav_list">
            <li class="nav-item active">
                <a href="./home.html">Início</a>
            </li>
            <li class="nav-item">
                <a href="./produtos.html">Produtos</a>
            </li>
            <li class="nav-item">
                <a href="contact.html">Contato</a>
            </li>
        </ul>

        <div class="nav-actions">
            <button class="btn-default btn-color" id="start-session">
                <a href="./login.html">Iniciar sessão</a>
            </button>

            <i class="fa-solid fa-circle-user">
                <div class="user-info">
                    <span id="welcome-message">Bem vindo(a), <span id="username">User</span></span>
                    <span id="sair" onclick="logout()">Sair</span>
                </div>
            </i>
            

            <i class="fa-solid fa-heart"></i>

            <i class="fa-solid fa-cart-shopping">
                <div class="cart-qtd">
                    <span>1</span>
                </div>
            </i>
        </div>

    </nav>
</header>
